html, body {
    overflow: auto;
    background-color: #010d77;
   }
   .container {
    padding-right: 220px; 
    height: 100vh;
}
  
  .top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .spaceship-frame {
    position: absolute; 
    top: 10px;
    left: 455px;
    width: 400px;
    height: 320px;
    background-color: #000;
    overflow: hidden;
}
  
  .left-controls, .right-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .bottom-controls {
    display: flex;
    justify-content: center;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  @keyframes starAnimation {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
  
  .star.animated {
    animation: starAnimation 2s infinite;
  }
  
  .spaceship-frame img {
    transition: transform 3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 125px;
  }
  
  .control-panel {
    width: 400px;
    padding: 20px;
    background-color: #474444;
    border: 1px solid #615959;
    margin-bottom: 20px;
  }
  
  .control-panel h2 {
    margin-top: 0;
  }
/*readequação de paineis*/
/* Estilos adicionais para posicionar os painéis de controle */
.multifunctional-display-panel {
  position: absolute;
  top: 10px;
  left: 10px;
}

.inertial-navigation-panel {
  position: absolute;
  top: calc(10px + 20px + 400px);
  left: 910px;
}

.emergency-systems-panel {
  position: absolute;
  top: 10px;
  left: 860px;
}

.flight-control-panel {
  position: absolute;
  top: 345px;
  left: calc(10px + 20px + 430px)
}

.maneuver-controls-panel {
  position: absolute;
  top: calc(280px);
  left: 10px;
}  

.spaceship-frame {
  position: absolute;
  right: 10px;
  bottom: 10px;
}


  /* estilos do controle de guinada */
  .yaw-slider {
    width: 200px;
    margin-top: 20px;
}
  /* estilos do controle de inclinação */
.pitch-slider {
    width: 200px;
    margin-top: 20px;
}
  /* estilos do display multifuncional */
.display {
    background-color: black;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 3px;
    width: 160px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: solid 1px #0f0;
}
  /* botoes de trava */
  .light {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.artificial-horizon-container {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.artificial-horizon {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -75px;
  left: -75px;
  transition: transform 3s;
}

.sky {
  background-color: #87CEEB;
  width: 300px;
  height: 150px;
}

.ground {
  background-color: #8B4513;
  width: 300px;
  height: 150px;
}
.pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: red;
  transform: translateX(-50%);
  transition: transform 3s;
}
/* computador de bordo */
.mini-computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-computer-screen {
  width: 400px;
  height: 100px;
  background-color: #000000;
  color: #0f0;
  border: 1px solid #444;
  padding: 5px;
  margin-bottom: 10px;
  border-width: 5px;
  border-color: #010d77;
  white-space: pre-wrap;
  overflow: auto;
}

.keyboard,
.numeric-keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard-row {
  display: flex;
}

button {
  width: 20px;
  height: 20px;
  margin: 1px;
  font-size: 10px;
  text-align: center;
}

.space {
  width: 160px;
}
.enter {
  width: 60px;
}
.backspace {
  width: 40px;
}
/* estilos para o painel de interruptores */
.switch-panel {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.switch {
  display: block;
  width: 100px;
  height: 40px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  position: relative;
  border: none;
  transition: 0.3s;
}

.switch:hover {
  background-color: #666;
}

.switch:active {
  background-color: green;
}

.switch-label {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
}
button.switch.active {
  background-color: green;
  color: white;
}


/* Estilos para o Sistema de Navegação Inercial */
#inertial-navigation-system {
  color: #f2f2f2;
}

.position,
.orientation {
  margin-bottom: 10px;
}
.ins-control-panel {
  border: 1px solid #ddd;
  padding: 10px;
}

.ins-switch {
  margin-bottom: 10px;
}

.status-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: red;
  margin-right: 5px;
}
.position-panel,
.orientation-panel {
    background-color: black;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px;
    width: 370px;
    margin: 5px;
    border: solid 1px #0f0;
}
/* manetes de potência*/
.engine-slider.vertical {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 150px;
  padding: 0 5px;
}
.lock-button.locked {
  background-color: rgb(60, 255, 0);
  color: white;
}
.engine-controls {
  display: flex;
  justify-content: space-between;
}

.main-engine-controls, .aux-engine-controls {
  display: flex;
  align-items: center;
}

.engine-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.throttle-control {
  writing-mode: bt-lr;
  height: 150px;
  margin: 10px;
}

.lock-button {
  margin-left: 10px;
}
/* sistemas de emergência */
.emergency-systems-panel {
  padding: 10px;
}

.emergency-system {
  margin: 10px;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  border: 1px solid #333;
  background-color: #555;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  position: relative;
}

.toggle-switch::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #222;
  top: 1px;
  left: 1px;
  transition: 0.3s ease;
}

.toggle-switch.active::before {
  left: 20px;
}

.indicator-light {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #900;
  display: inline-block;
  margin-left: 10px;
}

.indicator-light.active {
  background-color: #0c0;
}
.emergency-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.emergency-system h3 {
  font-size: 14px;
  margin: 5px 0;
}