html, body {
    overflow: hidden;
    background-color: #010d77;
   }
   .container {
    padding-right: 220px; /* Deixe espaço suficiente para o frame da espaçonave */
    height: 100vh;
}
  
  .top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .spaceship-frame {
    position: absolute; /* Altere position para absolute */
    top: 20px; /* Defina uma margem superior */
    right: 10px; /* Defina a distância da margem direita */
    width: 400px; /* Ajuste o tamanho como desejar */
    height: 320px; /* Ajuste o tamanho como desejar */
    background-color: #000;
    overflow: hidden;
}
  
  .left-controls, .right-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .bottom-controls {
    display: flex;
    justify-content: center;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  @keyframes starAnimation {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
  
  .star.animated {
    animation: starAnimation 2s infinite;
  }
  
  .spaceship-frame img {
    transition: transform 3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 125px;
  }
  
  .control-panel {
    width: 400px;
    padding: 20px;
    background-color: #ccc;
    border: 1px solid #615959;
    margin-bottom: 20px;
  }
  
  .control-panel h2 {
    margin-top: 0;
  }
  /* estilos do controle de guinada */
  .yaw-slider {
    width: 200px;
    margin-top: 20px;
}
  /* estilos do controle de inclinação */
.pitch-slider {
    width: 200px;
    margin-top: 20px;
}
  /* estilos do display multifuncional */
.display {
    background-color: black;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 3px;
    width: 160px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: solid 1px #0f0;
}
  /* botoes de trava */
  .light {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.artificial-horizon-container {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.artificial-horizon {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -75px;
  left: -75px;
}

.sky {
  background-color: #87CEEB;
  width: 300px;
  height: 150px;
}

.ground {
  background-color: #8B4513;
  width: 300px;
  height: 150px;
}
